/* @import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css'; */

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
}

body {
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    background-color: #fff;
}

.font-large {
    font-size: 1.3rem;
    line-height: 1.5;
}

a, button {
  outline: none;
  cursor: pointer;
}

p:not(.intro) {
    margin-top: 0;
    margin-right: 10%;
    margin-bottom: 2rem;
}

a, a:focus, a:visited {
    color: #000;
}

.frame {
  padding: 5rem 5vw 5vw 5vw;
  position: relative;
}

.frame_container {
    width: 80vw;
    max-width: 900px;
    margin: 0 auto;
    padding: 5vw;
}

.headerbar {
  width: 100%;
  padding: 10px;
  text-align: center;
  line-height: 2.2rem;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 3;
}

.logo {
  font-family: 'Lobster', cursive;
  color: #000;
  font-size: 1.4rem;
  text-decoration: none;
}

.questions {
  position: relative;
  z-index: 2;
  padding: 3rem;
  margin: 3rem -3rem 3rem -3rem;
  width: calc(100% + 6rem);
  background-color: #f5f5f5;
}

.questions h2 {
  margin-top: 0;
}

.questions h3 {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1.4rem;
}

.image {
  position: relative;
  z-index: 2;
  margin: 3rem -3rem 3rem -3rem;
  width: calc(100% + 6rem);
}

@media (max-width: 780px) {
  .questions, .image {
    margin: 2rem -2rem 2rem -2rem;
    width: calc(100% + 4rem);
  }
}

.questions ul {
  list-style: none;
  margin: 0 0 2.4rem;
  padding: 0;
}

.questions .question {
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
}

.questions button {
  border: 0;
  color: #000;
  padding: 5px 15px 5px 35px;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
  background-color: transparent;
}

.questions button:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 2px;
}

.questions button.submitted:before {
  background-color: #000;
}

.image img {
  max-width: 100%;
}


h1 {
    font-size: 36px;
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 1.4;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 26px;
    margin-top: 2.8rem;
    margin-bottom: 1.2rem;
    font-weight: 600;
    line-height: 1.3;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 22px;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 1.3;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.highlighted {
    color: #ff7890;
}

.intro {

}

blockquote {
    margin: 2rem -3rem 2rem -3rem;
    width: calc(100% + 6rem);
    padding: 0 0 0 3rem;
    font-style: italic;
    position: relative;
}
blockquote:before {
    content: '“';
    font-size: 4.4rem;
    line-height: 1;
    color: #ccc;
    position: absolute;
    left: 0;
    top: 0;
}
@media (max-width: 780px) {
  blockquote {
    margin: 2rem -2rem 2rem -3rem;
    width: calc(100% + 5rem);
  }
  blockquote:before {
    font-size: 3rem;
    left: 1rem;
  }
}

.course_cta {

}
.course_button {
    display: inline-block;
    height: 60px;
    border: 2px solid #000;
    font-size: 1.1rem;
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    padding: 0 30px;
}
input[type=text] {
    outline: none;
    border: 2px solid #eee;
    border-radius: 0;
    font-size: 1.3rem;
    color: #000;
    background-color: #fff;
    padding: 0 20px;
    height: 60px;
    width: 60%;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    color: #000;
}

.navigator {
    padding-top: 2rem;
}
.navigator_button {
    display: inline-block;
    color: #000;
    padding: 14px 20px;
    border-radius: 0;
    border: 2px solid #000;
    text-decoration: none;
    max-width: 40%;
}
@media (max-width: 780px) {
  .navigator_button {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
  }
}

/* .button-prev {
    float: left;
} */
.button-next {
    float: right;
}

.score p {
  font-size: 1.3rem;
  font-style: italic;
}

.score_titel h2 {
  line-height: 3rem;
  display: inline-block;
  width: auto;
  margin-top: 0;
}

.score_count {
  font-family: 'Lobster', cursive;
  color: #679795;
  font-size: 3rem;
  display: inline-block;
  padding: 0 0 0 30px;
  position: relative;
  line-height: 3rem;
  float: right;
}

.advice_content {
  margin-bottom: 2rem;
}
